/* AlertComponent.css 
.button {
    background-color: rgb(253, 200, 208);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border: inset;
    position: relative;
    left:1250px;
    bottom:250px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }*/

  /* AlertComponent.css */
.button {
  background-color: rgb(253, 200, 208); 
  color: black; /* White text */
  border:inset;
  position: relative;
  left:1250px;
  bottom:250px;
  padding: 15px 30px;
  border-radius: 100px; 
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.button:hover {
  background-color: #218838; /* Darker green on hover */
}

.button:active {
  background-color: #1e7e34; /* Even darker green when pressed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduced shadow effect when pressed */
}

  