.end{
    align-items: center;
    text-align: center;
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    font-size:1.8rem;
    font-weight: bolder;
    bottom:400px;
}